*{
	margin: 0;
	padding: 0;
}
body, html{
	height: 100%;
}
body{
	font-family:Arial, sans-srif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}
.boxed{
	background: #f6f6f6;
}
.boxed #wrapper_all{
	background: #fff;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.2);
    box-shadow: 0 0 8px rgba(0,0,0,.2);
}
.boxed #footer, .boxed #wrapper_all {
	max-width: 1180px;
    margin: 0 auto;
    overflow: hidden;
}
/*---------------------Repeated Class-----------------------*/
.fs12{
	font-size: 12px;
}
.fs11{
    font-size: 11px;
}
.fs13{
	font-size: 13px;
}
.fs20{
    font-size: 20px;
}
.fcwht {
    color: #fff;
}
.ml10 {
    margin-left: 10px;
}
.bdr0 {
    border: 0 !important;
}
.lh22 {
    line-height: 22px;
}
a{
    text-decoration: none !important;
}
h2{
    font-size: 20px;
    padding-top: 3px;
}
h3{
    font-size: 18px;
}
.panel {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default {
    border-color: #d3d3d3;
}
.panel-default>.panel-heading {
    background: #e8e8e8;
    border-bottom: 1px solid #transparent;
    color: #333;
    background-color: rgba(243,243,243,.85);
    border-color: #transparent;
}
.panel .panel-heading {
    height: 36px;
    padding: 0 10px;
}
/*------------------------------Header----------------------------------------*/
.top_header{
	background: #f2f2f2;
    border-bottom: 1px solid #e1e1e1;
    height: 25px;
    padding: 4px 0;
    text-align: right;
}
.top_navigation{
	position: relative;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
    background: #f9f9f9;
}
.top_navigation img{
	margin: 0;
}
.navbar-nav a{
	border: 1px solid #e1e1e1;
    min-width: 100px;
    height: 30px;
    text-align: center;
    display: block;
    color: #333;
    padding: 2px 5px 10px;
    background: #fff;
    position: relative;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    padding-top: 4px;
    transition: 0.4s;
}
.navbar-nav a:hover{
	background: #168CBE;
}
.navbar-nav li{
	margin: 0 2px;
}
.top_search{
	position: relative;
    display: block;
    padding: 3px;
    height: 46px;
    border-bottom: 1px solid #e1e1e1;
    background: #f2f2f2;
}
 .top_search .col-sm-6{
	margin-left: 25%;
	width: 50% !important;

}
/*----------------------------------------Left sidebar---------------------------------*/
.left_sidebar ul li{
	list-style: none;
	margin: 6px 0;
	transition: 0.3s
}
.left_sidebar ul li:hover{
	background: #fff;
}

.left_sidebar ul li a{
	text-decoration: none;
	color: #000;
	display: block;
}
.left_sidebar .active{
	padding: 10px 4px;
    line-height: 24px;
    font-weight: 700;
    background: #168CBE;
    color: #fff;
}
.left_sidebar .fa{
	margin-right: 3px;
}
/*---------------------------------Right Section----------------------------------*/
.right_section{
	margin: -10px -10px;
	background: #fff;
	padding: 10px;
}
.index_topbanner {
    margin-top: 40px;
    margin-left: 30px;
}

.mhomebg {
    height: 225px;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/hbg.jpg) no-repeat;
    background-size: cover;
}
/*----------------------------Latest Product----------------------------*/
.fphome {
    float: left;
    width: 130px;
    height: 160px;
    padding: 5px;
    margin: 8px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #f7f7f7;
    background: #fff;
    font-size: 12px;
}
.fphome_img {
    float: left;
    width: 110px;
    height: 110px;
    margin: 3px;
    padding: 2px;
    overflow: hidden;
    border: 1px solid #fff;
    transition: 0.2s;
}
.fphome_img:hover {
    transform: scale(1.05);
}

/*---------------------------------------Business Directory-------------------------------*/
.business_directory {
    margin-top: 25px;
}
.fb2b {
    float: left;
    width: 125px;
    height: 150px;
    padding: 5px;
    margin: 6px;
    overflow: hidden;
    border: 1px solid #f7f7f7;
    text-align: center;
}
.fb2b_img {
    float: left;
    width: 115px;
    height: 130px;
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
    border: 0 solid #f3f3f3;
}
.fb2b_thumb {
    max-height: 75px;
    max-width: 100px;
}
/*------------------------------------Latest Company-------------------------*/
[class^=flag] {
    display: inline-block;
    margin-top: -1px;
    width: 16px;
    height: 14px;
    line-height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.latest_companies .flag {
    background-image: url(../images/flag/af.png);
}
.latest_companies .flag-1{
    background-image: url(../images/flag/ae.png);
}
.latest_companies .flag-2{
    background-image: url(../images/flag/ad.png);
}
/*--------------------------------------Main Category-------------------------------*/
.main_categories{
    margin-top: 25px;
}

.main_categories img{
    vertical-align: middle;
}
.fcat_img {
    width: 184px;
    height: 92px;
    margin: 9px;
}
/*------------------------------------Footer---------------------------------*/
#footer {
    height: 40px;
    line-height: 40px;
    margin-top: -42px;
    position: relative;
    border-top: 1px solid #e1e1e1;
    background: #f7f7f7;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    
}
#footer ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#footer li {
    list-style: none;
    display: inline-block;
    line-height: 40px;
}
#footer li+li {
    padding-left: 5px;
}
/*----------------------------------------Product Page-------------------------------*/
/*----------------------------------------Product Page-------------------------------*/
.products .heading-tile{
    height: 36px;
    padding: 5px 10px;
    background: #e8e8e8;
    color: #333;
    border: 1px solid #d3d3d3;
}

.products_box{
    padding: 4px;
}
.listing {
    float: left;
    width: 175px;
    height: 160px;
    padding: 8px 16px;
    margin: 5px;
    overflow: hidden;
    font-size: 12px;
    border: 0 solid #f7f7f7;
    text-align: center;
}
.listing_img {
    float: left;
    width: 130px;
    height: 110px;
    margin: 0 10px 5px 0;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #f3f3f3;
}
.products .pnael-body {
    height: 1100px;
}
/*-----------------------------------Directory------------------------------------*/
.directorybg{
    height: 225px;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/dbg.jpg) no-repeat;
    background-size: cover;
}
/*------------------------------Register---------------------------------*/
#formbody {
    padding:15px 0 10px 80px;
}
#rattributesmain, #rattributes {
    width: 100%;
}
#formbody H2 {
    font-family: Arial;
    font-size: 19px;
    margin: 0;
    color: #1988C8;
    display: inline;
    margin-left: 8px;
}
.frmRegister{
    border: 1px solid #e1e1e1;
}
.frmRegister .heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    border: 1px solid #F5F5F5;
    padding: 8px;
    margin-bottom: 12px;
    background-color: #F3F3F3;
}
.yellowButton {
    background: #FEEEB1 url(/images/yellowButton.gif) repeat-x scroll center bottom;
    border-color: #F1921F #C96315 #C34B0E #F1921F;
    border-style: solid;
    border-width: 1px;
    color: #5E2708;
    height: 40px;
}
/*---------------------------Sign in ------------------------------------*/
.signin .leftbox {
    border: solid 0 #fff;
    height: 213px;
    margin: 15px;
}
.signin h1 {
    font-family: Arial;
    font-size: 20px;
    margin: 0;
    color: #e87004;
    display: inline;
}
.signin .right {
    border: solid 1px #d2edff;
    margin-right: 2px;
    background: #eef4fe;
    padding: 10px;
    height: auto;
}
.signin .line {
    height: 1px;
    overflow: hidden;
    background: url(../images/signinline.png) no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
}








